body {
    font-family: sans-serif;
background-color: aquamarine;
}
nav a{
    padding: 1em;
    margin: 1px;
    min-width: 300px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: medium;
    white-space: nowrap;

}
.body-text{
    font-family: serif;
    margin-top: 1em;
    padding: 1em;
}